include *.py
include *.rst
include *.txt
include .editorconfig .travis.invenio.cfg .travis.yml
include babel.ini
include LICENSE
include pytest.ini
include tox.ini
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include invenio_groups *.html
recursive-include invenio_groups *.js
recursive-include invenio_groups *.less
recursive-include invenio_groups *.mo
recursive-include invenio_groups *.po
recursive-include invenio_groups *.pot
recursive-include invenio_groups *.py
recursive-include tests *.py
